<div id="contact" class="my-8">
<h2 class="text-3xl font-bold"><span class="hover:text-teal-300 cursor-default">Contact Me</span></h2>
<form
  [formGroup]="contactForm"
  (ngSubmit)="onSubmit()"
  action="https://formspree.io/f/YOUR_FORM_ID"
  method="POST"
  class="max-w-xl p-4 bg-slate-800 rounded-lg shadow space-y-4 my-4"
  id="contact-form"
>
    <label for="name" class="font-thin text-2xl">Name</label>
  <input
    type="text"
    formControlName="name"
    name="name"
    placeholder="Your Name"
    required
    class="w-full border border-gray-300 p-2 bg-slate-900 text-slate-400 rounded"
  />
    <label for="email" class="font-thin text-2xl">Email</label>
  <input
    type="email"
    formControlName="email"
    name="email"
    placeholder="Your Email"
    required
    class="w-full border border-gray-300 p-2 bg-slate-900 text-slate-400 rounded"
  />
    <label for="message" class="font-thin text-2xl">Message</label>
  <textarea
    formControlName="message"
    name="message"
    placeholder="Your Message"
    required
    rows="5"
    class="w-full border border-gray-300 p-2 bg-slate-900 text-slate-400 rounded"
  ></textarea>
  <button
    type="submit"
    [disabled]="!contactForm.valid"
    class="bg-teal-500 text-white px-4 py-2 rounded hover:bg-teal-600 transition"
  >
    Send
  </button>
</form>
</div>