<div class="my-8">
    <h2 class="text-3xl font-bold"><span class="hover:text-teal-300 cursor-default">\\About\\</span></h2>
    <p class="text-lg mt-2 text-slate-400">
        Hi, I'm someone who loves building things on the web. Most of my work revolves around the MERN stack and Angular, 
        where I enjoy creating apps that are fast, easy to use, and actually solve real problems.I'm also really curious 
        about AI and how it's changing the way we build and use technology. Whether it's smarter tools, virtual assistants, 
        or new ways to personalize user experiences, I like exploring how AI can fit into the projects I work on.For me, coding isn't 
        just about writing lines of code — it's about turning ideas into something people can use and enjoy. Every project is a chance 
        to try something new, learn along the way, and make things just a little bit better.
    </p>
</div>