<div class="my-8" id="education">
    <h2 class="text-3xl font-bold"><span class="hover:text-teal-300 cursor-default">Education</span></h2>
    <div class="mt-4">
        <div class="h-[30px] w-full ml-1.25 border-l border-l-slate-400"></div>
        <div class="flex items-center">
            <div class="w-[10px] h-[10px] bg-slate-400 rounded-full"></div>
            <h3 class="text-xl font-bold pl-4 hover:text-teal-300 cursor-default">BTech CSE-AIML<span class="text-slate-400 italic text-sm font-light ml-2">(2021 - 2025)</span></h3>
        </div>
        <div class="w-full ml-1.25 border-l border-l-slate-400 pl-4.75">
            <h5 class="text-slate-400 italic text-sm font-light ml-2 mb-2">G L Bajaj Institute of Technology and Management, Greater Noida</h5>
            <h5 class="text-slate-400 italic text-sm font-light ml-2 mb-2">CGPA: 8.11</h5>
        </div>
        <div class="flex items-center">
            <div class="w-[10px] h-[10px] bg-slate-400 rounded-full"></div>
            <h3 class="text-xl font-bold pl-4 hover:text-teal-300 cursor-default">Intermediate<span class="text-slate-400 italic text-sm font-light ml-2">(2019 - 2020)</span></h3>
        </div>
         <div class="w-full ml-1.25 border-l border-l-slate-400 pl-4.75">
            <h5 class="text-slate-400 italic text-sm font-light ml-2 mb-2">Sunbeam School, Jaunpur, CBSE</h5>
            <h5 class="text-slate-400 italic text-sm font-light ml-2 mb-2">Percentage: 92.6</h5>
        </div>
        <div class="flex items-center">
            <div class="w-[10px] h-[10px] bg-slate-400 rounded-full"></div>
            <h3 class="text-xl font-bold pl-4 hover:text-teal-300 cursor-default">High School<span class="text-slate-400 italic text-sm font-light ml-2">(2017 - 2018)</span></h3>
        </div>
         <div class="w-full ml-1.25 border-l border-l-slate-400 pl-4.75">
            <h5 class="text-slate-400 italic text-sm font-light ml-2 mb-2">Sunbeam School, Jaunpur, CBSE</h5>
            <h5 class="text-slate-400 italic text-sm font-light ml-2 mb-2">Percentage: 95.6</h5>
        </div>
    </div>
</div>