<div class="my-8">
    <h2 class="text-3xl font-bold"><span class="hover:text-teal-300 cursor-default">\\Experience\\</span></h2>
    <div class="mt-4">
        <div class="h-[30px] w-full ml-1.25 border-l border-l-slate-400"></div>
        <div class="flex items-center">
            <div class="w-[10px] h-[10px] bg-slate-400 rounded-full"></div>
            <h3 class="text-xl font-bold pl-4 hover:text-teal-300 cursor-default">Biz2X<span class="text-slate-400 italic text-sm font-light ml-2">(Sept 2025 - present)</span></h3>
        </div>
        <div class="w-full ml-1.25 border-l border-l-slate-400 pl-4.75 pt-2">
            <app-skills-tag skill="Angular"></app-skills-tag>
        </div>
    </div>
</div>