<div class="my-8" id="experience">
    <h2 class="text-3xl font-bold"><span class="hover:text-teal-300 cursor-default">Experience</span></h2>
    <div class="mt-4">
        <div class="h-[30px] w-full ml-1.25 border-l border-l-slate-400"></div>
        <div class="flex items-center">
            <div class="w-[10px] h-[10px] bg-slate-400 rounded-full"></div>
            <h3 class="text-xl font-bold max-[510px]:flex max-[510px]:flex-col pl-4 hover:text-teal-300 cursor-default"><span>Biz2X</span><span class="text-slate-400 italic text-sm font-light ml-2">(Sept 2025 - present)</span></h3>
        </div>
        <div class="w-full ml-1.25 border-l border-l-slate-400 pl-4.75">
            <h5 class="text-slate-400 italic text-sm font-light ml-2 mb-2">Associate Software Engineer</h5>
            <div class="mb-2">
                <app-skills-tag skill="Angular"></app-skills-tag>
            </div>
            <p class="py-2">
                Biz2X is a global SaaS based digital lending platform. Joined this company in September 2025 and it has been great experience working here.
                Presently, as a new joinee, I am being trained on Angular and learning new technologies.
            </p>
        </div>
        <div class="flex items-center">
            <div class="w-[10px] h-[10px] bg-slate-400 rounded-full"></div>
            <h3 class="text-xl font-bold pl-4 hover:text-teal-300 cursor-default max-[510px]:flex max-[510px]:flex-col"><span>AnyTimeShoot</span><span class="text-slate-400 italic text-sm font-light ml-2">(May 2025 - July 2025)</span></h3>
        </div>
         <div class="w-full ml-1.25 border-l border-l-slate-400 pl-4.75">
            <h5 class="text-slate-400 italic text-sm font-light ml-2 mb-2">React Native Intern</h5>
            <div class="mb-2 flex gap-2 flex-wrap">
                <app-skills-tag skill="React Native"></app-skills-tag>
                <app-skills-tag skill="React.js"></app-skills-tag>
                <app-skills-tag skill="Tailwind CSS"></app-skills-tag>
                <app-skills-tag skill="Chart.js"></app-skills-tag>
                <app-skills-tag skill="TypeScript"></app-skills-tag>
                <app-skills-tag skill="Tanstack Table"></app-skills-tag>
                <app-skills-tag skill="Firebase"></app-skills-tag>
            </div>
            <p class="py-2">
                Joined AnyTimeShoot, an early stage startup as a React Native Intern. AnyTimeShoot is a SaaS platform allowing 
                photographers to engage with clients. Here, I was tasked with developing screens for their MVP application using React Native.
                Apart from this, I also worked on Admin Dashboard that we developed using React.js and TailwindCSS.
            </p>
        </div>
    </div>
</div>